<template>
  <div class="pl-64 ml-6">
    <div class="fixed left-0 top-0 w-64">
      <h1 class="text-xl text-white pl-8 pt-6">
        VUE-LUXON <span class="font-light">0.9</span>
      </h1>
      <div
        class="max-w-screen-sm bg-white shadow-lg rounded p-6 pt-0 ml-6 mt-6"
      >
        <div class="text-sm text-gray-500 pt-3 pb-2">Settings</div>
        <div class="text-sm text-gray-600 pt-2 pb-1">datetimeVariable</div>
        <Input v-model="datetimeVariable" />
        <div class="text-sm text-gray-600 pt-2 pb-1">input.zone</div>
        <Input v-model="settings.input.zone" />
        <div class="text-sm text-gray-600 pt-3 pb-1">output.zone</div>
        <Input v-model="settings.output.zone" />
        <div class="text-sm text-gray-600 pt-2 pb-1">output.format</div>
        <Input v-model="settings.output.format" />
        <div class="text-sm text-gray-600 pt-3 pb-1">localeFormat</div>
        <Input v-model="settings.output.localeFormat" />
        <div class="text-sm text-gray-600 pt-2 pb-1">localeLang</div>
        <Input v-model="settings.output.localeLang" />
      </div>
    </div>

    <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
      <CodeExample>
        <template v-slot:example> datetimeVariable | luxon </template>
        <template v-slot:code>
          {{ datetimeVariable | luxon(settings) }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example>
          datetimeVariable | luxon({ output: { format: "relative" } })
        </template>
        <template v-slot:code>
          {{
            datetimeVariable
              | luxon({ ...settings, output: { format: "relative" } })
          }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example>
          datetimeVariable | luxon({ localeFormat: "huge" })
        </template>
        <template v-slot:code>
          {{
            datetimeVariable
              | luxon({ ...settings, output: { localeFormat: "huge" } })
          }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example>
          datetimeVariable | luxon({ localeFormat: { weekday: "long" } })
        </template>
        <template v-slot:code>
          {{
            datetimeVariable
              | luxon({
                ...settings,
                output: { localeFormat: { weekday: "long" } },
              })
          }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example>
          datetimeVariable | luxon({ output: { format: "dd-MM-yyyy" } })
        </template>
        <template v-slot:code>
          {{
            datetimeVariable
              | luxon({ output: { format: "dd-MM-yyyy" } }, settings)
          }}
        </template>
      </CodeExample>
    </div>
    <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
      <h2 class="text-lg">Format</h2>
      <p class="text-gray-700">Lets you set the output.format</p>
      <CodeExample>
        <template v-slot:example>
          datetimeVariable | luxonFormat("dd-MM-yyyy")
        </template>
        <template v-slot:code>
          {{ datetimeVariable | luxonFormat("dd-MM-yyyy", settings) }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example>
          datetimeVariable | luxonFormat("dd-MM-yyyy ZZZZ")
        </template>
        <template v-slot:code>
          {{ datetimeVariable | luxonFormat("dd-MM-yyyy ZZZZ", settings) }}
        </template>
      </CodeExample>
    </div>
    <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
      <h2 class="text-lg">Relative Format</h2>
      <CodeExample :wide="true"
        >>
        <template v-slot:example> datetimeVariable | luxonRelative </template>
        <template v-slot:code>
          {{ datetimeVariable | luxonRelative(null, settings) }}
        </template>
      </CodeExample>
      <CodeExample :wide="true"
        >>
        <template v-slot:example>
          datetimeVariable | luxonRelative({ unit: "month" })
        </template>
        <template v-slot:code>
          {{ datetimeVariable | luxonRelative({ unit: "months" }, settings) }}
        </template>
      </CodeExample>
      <CodeExample :wide="true">
        <template v-slot:example>
          datetimeVariable | luxonRelative( { unit: "months" }, { localeLang:
          "pl-PL" })
        </template>
        <template v-slot:code>
          {{
            datetimeVariable
              | luxonRelative({ unit: "months" }, { localeLang: "pl-PL" })
          }}
        </template>
      </CodeExample>
    </div>
    <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
      <h2 class="text-lg">Locale Format</h2>
      <p class="text-gray-700">
        Sets the outputFormat to local and lets you set the localeFormat.
      </p>
      <CodeExample>
        <template v-slot:example> datetimeVariable | luxonLocale </template>
        <template v-slot:code>
          {{ datetimeVariable | luxonLocale(null, settings) }}
        </template>
      </CodeExample>
      <CodeExample
        v-for="f in [
          'full',
          'fulls',
          'huge',
          'huges',
          'med',
          'meds',
          'short',
          'shorts',
          'date_huge',
          'date_med',
          'date_short',
          'time24simple',
          'time24longoffset',
          'time24seconds',
          'time_simple',
        ]"
      >
        <template v-slot:example>
          datetimeVariable | luxonLocale("{{ f }}")
        </template>
        <template v-slot:code>
          {{ datetimeVariable | luxonLocale(f, settings) }}
        </template>
      </CodeExample>
    </div>

    <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
      <h2 class="text-lg">luxonLocal</h2>
      <p class="text-gray-700"></p>
      <CodeExample>
        <template v-slot:example> datetimeVariable | luxonLocal </template>
        <template v-slot:code>
          {{ datetimeVariable | luxonLocal }}
        </template>
      </CodeExample>
    </div>

    <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
      <h2 class="text-lg">luxonLocal</h2>
      <p class="text-gray-700"></p>

      <div class="grid grid-cols-3 gap-2 p-2 max-w-lg">
        <div class="text-gray-700 pr-3">dateVariable</div>
        <div class="">
          <input type="date" class="bg-gray-300" v-model="dateVariable" />
        </div>
        <div class="text-sm text-gray-700 pl-2">{{ dateVariable }}</div>

        <div class="text-gray-700 pr-3">timeVariable</div>
        <div class="">
          <input type="time" class="bg-gray-300" v-model="timeVariable" />
        </div>
        <div class="text-sm text-gray-700 pl-2">{{ timeVariable }}</div>
      </div>

      <CodeExample>
        <template v-slot:example>
          $luxon(dateVariable + "T" + timeVariable, {<br />
          &nbsp;&nbsp;&nbsp;&nbsp;input: { zone: "local", format: "iso" },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;output: { zone: "local", format: "locale"
          },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;localeFormat: "huge",<br />
          &nbsp;&nbsp;})
        </template>
        <template v-slot:code>
          {{
            $luxon(dateVariable + "T" + timeVariable, {
              input: { zone: "local", format: "iso" },
              output: { zone: "local", format: "locale", localeFormat: "huge" },
            })
          }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example>
          $luxon(dateVariable + " " + timeVariable, {<br />
          &nbsp;&nbsp;&nbsp;&nbsp;input: { zone: "local", format: "yyyy-MM-dd
          HH:mm" } },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;output: { zone: "utc", format: "iso" },<br />
          &nbsp;&nbsp;})
        </template>
        <template v-slot:code>
          {{
            $luxon(dateVariable + " " + timeVariable, {
              input: { zone: "local", format: "yyyy-MM-dd HH:mm" },
              output: { zone: "utc", format: "iso", localeFormat: "huge" },
            })
          }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example>
          $luxon(dateVariable + " " + timeVariable, {<br />
          &nbsp;&nbsp;&nbsp;&nbsp;input: { zone: "local", format: "yyyy-MM-dd
          HH:mm" },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;output: { zone: "Asia/Tokyo", format: "locale"
          },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;localeFormat: "huge",<br />
          &nbsp;&nbsp;})
        </template>
        <template v-slot:code>
          {{
            $luxon(dateVariable + " " + timeVariable, {
              input: { zone: "local", format: "yyyy-MM-dd HH:mm" },
              output: {
                zone: "Asia/Tokyo",
                format: "locale",
                localeFormat: "huge",
              },
            })
          }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example>
          $luxon(dateVariable + " " + timeVariable, {<br />
          &nbsp;&nbsp;&nbsp;&nbsp;input: { zone: "client", format: "yyyy-MM-dd
          HH:mm" },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;output: "server",<br />
          },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;localeFormat: "huge",<br />
          &nbsp;&nbsp;})
        </template>
        <template v-slot:code>
          {{
            $luxon(dateVariable + " " + timeVariable, {
              input: { zone: "client", format: "yyyy-MM-dd HH:mm" },
              output: {
                format: "server",
                zone: "server",
                localeFormat: "huge",
              },
            })
          }}
        </template>
      </CodeExample>
    </div>

    <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
      <h2 class="text-lg">Zone and Format templates</h2>
      <p class="text-gray-700"></p>

      <div class="w-full text-purple-600 text-sm">
        <pre class="py-2 px-1">
templates: {
  server: {
    zone: "utc",
    format: "iso"
  },
  client: {
    zone: "local",
    format: "locale"
  },
  inputdate: {
    zone: "client",
    format: "yyyy-MM-dd"
  }
},
</pre
        >
      </div>

      <CodeExample>
        <template v-slot:example
          ><br />
          &nbsp;&nbsp;$luxon(dateVariable + "T" + timeVariable, {<br />
          &nbsp;&nbsp;&nbsp;&nbsp;input: { zone: "local", format: "iso" },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;output: { zone: "local" },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;localeFormat: "huge",<br />
          &nbsp;&nbsp;})<br />
        </template>
        <template v-slot:code>
          {{
            $luxon(dateVariable + "T" + timeVariable, {
              input: { zone: "local", format: "iso" },
              output: { zone: "local", localeFormat: "huge" },
            })
          }}
        </template>
      </CodeExample>
      <CodeExample>
        <template v-slot:example
          ><br />
          &nbsp;&nbsp;$luxon(dateVariable + " " + timeVariable, {<br />
          &nbsp;&nbsp;&nbsp;&nbsp;input: { zone: "local", format: "yyyy-MM-dd
          hh:mm" },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;output: { zone: "Asia/Tokyo" },<br />
          &nbsp;&nbsp;&nbsp;&nbsp;localeFormat: "huge",<br />
          &nbsp;&nbsp;})<br />
        </template>
        <template v-slot:code>
          {{
            $luxon(dateVariable + " " + timeVariable, {
              input: { zone: "local", format: "yyyy-MM-dd hh:mm" },
              output: { zone: "Asia/Tokyo", localeFormat: "huge" },
            })
          }}
        </template>
      </CodeExample>
    </div>

    <div class="flex justify-end max-w-screen-lg p-6 mx-auto mt-6">
      <a href="https://npmjs.com/package/vue-luxon" class="pr-2" target="_blank"
        ><img src="https://img.shields.io/npm/v/vue-luxon.svg" />
      </a>
      <a
        href="https://npmjs.com/package/vue-luxon"
        class="pr-2"
        target="_blank"
      >
        <img src="https://img.shields.io/npm/dt/vue-luxon.svg" />
      </a>
      <a
        href="https://github.com/casbloem/vue-luxon"
        class="pr-2"
        target="_blank"
      >
        <img
          src="https://img.shields.io/github/last-commit/casbloem/vue-luxon.svg"
        /> </a
      ><a
        href="https://github.com/casbloem/vue-luxon"
        class="pr-2"
        target="_blank"
        ><img
          src="https://img.shields.io/github/package-json/v/casbloem/vue-luxon.svg"
      /></a>
    </div>
  </div>
</template>
<script>
import Input from "./Input.vue";
import CodeExample from "./CodeExample.vue";
export default {
  components: { Input, CodeExample },
  data() {
    return {
      datetimeVariable: "2020-02-23T03:32",
      dateVariable: "2020-05-10",
      timeVariable: "08:00",
      settings: {
        input: { zone: "UTC" },
        output: {
          zone: "local",
          format: "locale",
          localeLang: "",
          localeFormat: "short",
        },
      },
    };
  },
  computed: {},
};
</script>
<style lang="scss">
@import "./app.scss";
</style>