<template>
  <div class="pl-64 ml-6">
    <div class="fixed left-0 top-0 w-64">
      <h1 class="text-xl text-white pl-8 pt-6">
        VUE-LUXON <span class="font-light">0.9</span>
      </h1>
      <div
        class="max-w-screen-sm bg-white shadow-lg rounded p-6 pt-0 ml-6 mt-6"
      >
        <div class="text-sm text-gray-500 pt-3 pb-2">Settings</div>
        <div class="text-sm text-gray-600 pt-2 pb-1">variable</div>
        <Input v-model="variable" />
        <div class="text-sm text-gray-600 pt-2 pb-1">input.zone</div>
        <Input v-model="settings.input.zone" />
        <div class="text-sm text-gray-600 pt-2 pb-1">input.format</div>
        <Input v-model="settings.input.format" />
        <div class="text-sm text-gray-600 pt-3 pb-1">output.zone</div>
        <Input v-model="settings.output.zone" />
        <div class="text-sm text-gray-600 pt-2 pb-1">output.format</div>
        <Input v-model="settings.output.format" />
      </div>
    </div>

    <v-basic :variable="variable" :settings="settings" />

    <v-relative :variable="variable" :settings="settings" />

    <div class="flex justify-end max-w-screen-lg p-6 mx-auto mt-6">
      <a href="https://npmjs.com/package/vue-luxon" class="pr-2" target="_blank"
        ><img src="https://img.shields.io/npm/v/vue-luxon.svg" />
      </a>
      <a
        href="https://npmjs.com/package/vue-luxon"
        class="pr-2"
        target="_blank"
      >
        <img src="https://img.shields.io/npm/dt/vue-luxon.svg" />
      </a>
      <a
        href="https://github.com/casbloem/vue-luxon"
        class="pr-2"
        target="_blank"
      >
        <img
          src="https://img.shields.io/github/last-commit/casbloem/vue-luxon.svg"
        /> </a
      ><a
        href="https://github.com/casbloem/vue-luxon"
        class="pr-2"
        target="_blank"
        ><img
          src="https://img.shields.io/github/package-json/v/casbloem/vue-luxon.svg"
      /></a>
    </div>
  </div>
</template>
<script>
import Input from "./Input.vue";
import CodeExample from "./CodeExample.vue";

import view_basic from "./views/basic.vue";
import view_relative from "./views/relative.vue";

export default {
  components: {
    Input,
    CodeExample,
    "v-basic": view_basic,
    "v-relative": view_relative,
  },
  data() {
    return {
      variable: "2020-02-23T03:32",
      dateVariable: "2020-05-10",
      timeVariable: "08:00",
      settings: {
        input: { zone: "utc", format: "iso" },
        output: {
          zone: "local",
          format: "short",
        },
      },
    };
  },
  computed: {},
};
</script>
<style lang="scss">
@import "./app.scss";
</style>