<template functional>
  <div class="md:flex my-2">
    <div
      class="w-full text-purple-600 text-sm"
      :class="{ 'md:w-2/3': props.wide, 'md:w-1/2': !props.wide }"
    >
      <span v-if="props.braces !== false">{{</span><slot name="example"></slot>
      <span v-if="props.braces !== false">}}</span>
    </div>
    <div
      class="w-full self-center text-sm"
      :class="{ 'md:w-1/3': props.wide, 'md:w-1/2': !props.wide }"
    >
      <slot name="code"></slot>
    </div>
  </div>
</template>