<template>
  <input
    type="text"
    class="w-full rounded px-4 py-2 placeholder-gray-500 border shadow transition-shadow ease-in-out duration-100 focus:shadow-md focus:outline-none"
    :placeholder="placeholder"
    :value="value"
    @input="$emit('input', $event.target.value)"
  />
</template>
<script>
export default {
  props: ["value", "placeholder"],
};
</script>
