<template>
  <div
    class="relative"
    v-click-outside="
      () => {
        open = false;
      }
    "
  >
    <button
      type="button"
      class="flex w-full rounded px-4 py-2 placeholder-gray-500 border shadow transition-shadow ease-in-out duration-100 focus:shadow-md focus:outline-none"
      @click="open ? closePopper() : openPopper()"
      ref="popcorn"
    >
      <div
        class="flex-grow text-left"
        :class="{ 'text-gray-600': !options[value] }"
      >
        {{ options[value] || placeholder || "Selecteer" }}
      </div>
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="text-gray-600 transition duration-150 ease-in-out"
        :class="{
          'transform rotate-180': open,
        }"
      >
        <polyline points="6 9 12 15 18 9"></polyline>
      </svg>
    </button>
    <div
      v-show="open"
      ref="tooltip"
      class="w-full border rounded px-4 py-2 bg-white shadow transition-shadow ease-in-out duration-100 focus:shadow-md z-10 overflow-auto"
      style="max-height: 340px"
    >
      <button
        v-if="allowNone"
        type="button"
        class="w-full rounded px-4 py-2"
        :class="{
          'text-white bg-purple-600': value === -1,
          'text-gray-600 hover:text-gray-800': value > -1,
        }"
        v-text="noneText"
        @click="emitChange(-1)"
      ></button>
      <button
        v-for="(option, index) in options"
        type="button"
        class="w-full rounded px-4 py-2"
        :class="{
          'text-white bg-purple-600': value == index,
          'text-gray-600 hover:text-gray-800': value != index,
        }"
        v-text="option"
        @click="emitChange(index)"
      ></button>
    </div>
  </div>
</template>
<script>
import { createPopper } from "@popperjs/core";
export default {
  props: {
    value: {
      type: Number,
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
    placeholder: {
      required: false,
    },
    allowNone: {
      default: false,
      required: false,
    },
    noneText: {
      default: "Selecteer...",
      required: false,
    },
  },
  data() {
    return {
      popper: null,
      open: true,
    };
  },
  mounted() {
    this.popper = createPopper(this.$refs.popcorn, this.$refs.tooltip, {
      placement: "bottom",
      computeStyle: {
        //gpuAcceleration: false,
      },
    });
    this.$nextTick(() => {
      this.open = false;
    });
  },
  methods: {
    openPopper() {
      this.open = true;
      this.popper.update();
    },
    closePopper() {
      this.open = false;
    },
    emitChange(val) {
      this.$emit("change", val);
      this.open = false;
    },
  },
};
</script>
