<template>

<div class="container mx-auto px-4">
                <div class="bg-white mx-auto max-w-md shadow rounded p-4">
                    <span class="block font-bold my-2 p-1">vue-luxon</span>

                    <div class="url-holder">
                        <a class="url-holder__url" href="https://www.npmjs.com/package/vue-luxon">NPM</a>
                        <a class="url-holder__url" href="https://github.com/casbloem/vue-luxon">GitHub</a>
                    </div>

<div class="codeblock">
<small class="codeblock__title codeblock__title--vars">VARIABLES</small>
<pre class="codeblock__pre">
fakeServerTime:     <input class="codeblock__input" type="text" v-model="fakeServerTime">
</pre>
</div>
    
                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon }}</pre>
                        <span class="codeblock__result"><small class="codeblock__title codeblock__title--result">RESULT</small>{{ fakeServerTime | luxon }}</span>
                    </div>
                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>
&lt;div v-for=&#34;(datetime, key) in multipleDatetimes&#34;&gt;
    &lcub;&lcub; datetime &vert; luxon &rcub;&rcub;
&lt;/div&gt;
                        </pre>
                        <span class="codeblock__result"><small class="codeblock__title codeblock__title--result">RESULT</small>
                            <div v-for="(datetime, key) in multipleDatetimes">
                                {{ datetime | luxon }}
                            </div>
                        </span>
                    </div>

                   

                    <div class="codeblock">
                            <small class="codeblock__title codeblock__title--code">CODE</small>
                            <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon({ clientFormat: 'dd'}) }}</pre>
                            <span class="codeblock__result"><small class="codeblock__title codeblock__title--result">RESULT</small>
                                {{ fakeServerTime | luxon({ clientFormat: 'dd'}) }}</span>
                        </div>

<div class="codeblock">
<small class="codeblock__title codeblock__title--vars">VARIABLES</small>
<pre class="codeblock__pre">
datetimeString:     <input class="codeblock__input" type="text" v-model="fakedatetimeString"><br>
serverZone:         <input class="codeblock__input" type="text" v-model="szone"><br>
serverFormat:       <input class="codeblock__input" type="text" v-model="sformat"><br>
clientFormat:       <input class="codeblock__input" type="text" v-model="cformat"><br>
</pre>
    <div class="relative">
            <small class="codeblock__title codeblock__title--code">CODE</small>
        <pre class="codeblock__code" v-pre>{{ datetimeString | luxon({ serverZone: ..., serverFormat: ..., clientFormat: ... }) }}</pre>
    </div>
   
    <span class="codeblock__result"><small class="codeblock__title codeblock__title--result">RESULT</small>
        {{ fakedatetimeString | luxon({ serverFormat: sformat, clientFormat: cformat, serverZone: szone }) }}</span>
</div>


</div>

<div class="bg-white mx-auto max-w-md shadow rounded p-4 mt-6">
<span class="block font-bold text-indigo-dark p-1">locale shorthand</span>       

            <div class="codeblock">
                    <small class="codeblock__title codeblock__title--code">CODE</small>
                    <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon:locale }}</pre>
                    <span class="codeblock__result"><small class="codeblock__title codeblock__title--result">RESULT</small>
                        {{ fakeServerTime | luxon:locale }}</span>
                </div>

                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>
{{ fakeServerTime | luxon:locale(
    { 
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        weekday: 'long'
    }
) }}</pre>
            <span class="codeblock__result">
                        <small class="codeblock__title codeblock__title--result">RESULT</small>
                {{ fakeServerTime | luxon:locale({ year: 'numeric', month: 'long', day: 'numeric', weekday: 'long'}) }}</span>
                    </div>

</div>
<div class="bg-white mx-auto max-w-md shadow rounded p-4 mt-6">
<span class="block font-bold text-indigo-dark p-1">format shorthand</span>  

                    



                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon:format('yy - yyyy - MM') }}</pre>
                        <span class="codeblock__result">
                            <small class="codeblock__title codeblock__title--result">RESULT</small>
                            {{ fakeServerTime | luxon:format('yy - yyyy - MM') }}
                        </span>
                    </div>

                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ fakeServerTimeSQL | luxon:format('dd-MM-yyyy', { serverFormat: 'SQL' }) }}</pre>
                        <span class="codeblock__result">
                                <small class="codeblock__title codeblock__title--result">RESULT</small>
                                {{ fakeServerTimeSQL | luxon:format('dd-MM-yyyy', { serverFormat: 'SQL' }) }}</span>
                    </div>

                   

</div>
<div class="bg-white mx-auto max-w-md shadow rounded p-4 mt-6">
<span class="block font-bold text-indigo-dark p-1">diffForHumans shorthand</span>  

                
                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon:diffForHumans }}</pre>
                        <span class="codeblock__result">
                            <small class="codeblock__title codeblock__title--result">RESULT</small>
                            {{ fakeServerTime | luxon:diffForHumans }}
                        </span>
                    </div>

                    <div class="codeblock">

                            <small class="codeblock__title codeblock__title--vars">VARIABLES</small>
<pre class="codeblock__pre">
datetimeString: <input class="codeblock__input" type="text" v-model="fakedatetimeString2"><br>
</pre>
                    <div class="relative">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ datetimeString | luxon:diffForHumans }}</pre>
                    </div>

                        <span class="codeblock__result">
                            <small class="codeblock__title codeblock__title--result">RESULT</small>
                            {{ fakedatetimeString2 | luxon:diffForHumans }}
                        </span>


                    </div>


                    <div class="codeblock">

                        <small class="codeblock__title codeblock__title--vars">VARIABLES</small>
<pre class="codeblock__pre">
datetimeString: <input class="codeblock__input" type="text" v-model="fakedatetimeString3"><br>
</pre>
                <div class="relative">
                    <small class="codeblock__title codeblock__title--code">CODE</small>
                    <pre class="codeblock__code" v-pre>{{ datetimeString | luxon:diffForHumans( { durations: ['months', 'hours'] } ) }}</pre>
                </div>

                    <span class="codeblock__result">
                        <small class="codeblock__title codeblock__title--result">RESULT</small>
                        {{ fakedatetimeString3 | luxon:diffForHumans({ durations: ['months', 'hours']}) }}
                    </span>


                </div>



                    
      


                
        </div>
       
</div>

</template>
<script>
module.exports = {
    data() {
        return {
            fakeServerTime: '2017-04-20T11:32:00.000-04:00', //UTC ISO,
      fakeServerTimeSQL: '2017-04-20 11:32:00', //UTC SQL,
      fakedatetimeString: '2017-04-20 11:32:00',
      fakedatetimeString2: '2011-04-20T11:32:00.000-04:00',
      fakedatetimeString3: '2033-04-20T11:32:00.000-04:00',
      fakedatetimeString4: '2023-04-20T11:32:00.000-04:00',
      multipleDatetimes: ['2053-04-20T11:32:00.000-04:00', '2008-04-20T11:32:00.000-04:00', '2013-04-20T11:32:00.000-04:00', '2023-04-20T11:32:00.000-04:00'],
      szone: 'UTC',
      sformat: 'sql',
      cformat: 'dd-MM-yyyy',
        }
    }
};
</script>