<template>
  <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
    <h2 class="text-lg">Basic usage</h2>
    <p class="text-gray-700"></p>
    <CodeExample>
      <template v-slot:example> variable | luxon </template>
      <template v-slot:code>
        {{ variable | luxon(settings) }}
      </template>
    </CodeExample>
    <CodeExample :braces="false">
      <template v-slot:example> this.$luxon(variable) </template>
      <template v-slot:code>
        {{ variable | luxon(settings) }}
      </template>
    </CodeExample>
    <CodeExample>
      <template v-slot:example> variable | luxon("yyyy-MM-dd") </template>
      <template v-slot:code>
        {{ variable | luxon("yyyy-MM-dd", settings) }}
      </template>
    </CodeExample>
    <CodeExample>
      <template v-slot:example> variable | luxon("yyyy-MM-dd HH:mm") </template>
      <template v-slot:code>
        {{ variable | luxon("yyyy-MM-dd HH:mm", settings) }}
      </template>
    </CodeExample>

    <CodeExample
      v-for="f in [
        'sql',
        'iso',
        'rfc2822',
        'http',
        'seconds',
        'millis',
        'full',
        'fulls',
        'huge',
        'huges',
        'med',
        'meds',
        'short',
        'shorts',
        'date_full',
        'date_huge',
        'date_med',
        'date_medd',
        'date_short',
        'time24',
        'time24longoffset',
        'time24s',
        'time',
        'times',
      ]"
      :key="f"
    >
      <template v-slot:example> variable | luxon("{{ f }}") </template>
      <template v-slot:code>
        {{ variable | luxon(f, settings) }}
      </template>
    </CodeExample>
  </div>
</template>
<script>
import CodeExample from "./../CodeExample.vue";
export default {
  props: ["variable", "settings"],
  components: { CodeExample },
};
</script>