<template>
  <div class="max-w-screen-lg bg-white shadow-lg rounded p-6 mx-auto mt-6">
    <h2 class="text-lg">Relative format</h2>
    <p class="text-gray-700"></p>

    <CodeExample :wide="true">
      <template v-slot:example> variable | luxonRelative </template>
      <template v-slot:code>
        {{ variable | luxonRelative(null, settings) }}
      </template>
    </CodeExample>

    <CodeExample :braces="false" :wide="true">
      <template v-slot:example>
        $luxon(variable, { output: "relative" })
      </template>
      <template v-slot:code>{{
        $luxon(variable, { ...settings, output: { format: "relative" } })
      }}</template>
    </CodeExample>

    <CodeExample :braces="true" :wide="true">
      <template v-slot:example>
        variable | luxon({ output: { lang: "pl" } })
      </template>
      <template v-slot:code>{{
        $luxon(variable, { output: { format: "relative", lang: "pl" } })
      }}</template>
    </CodeExample>
    <CodeExample :braces="false" :wide="true">
      <template v-slot:example>
        $luxon(variable, { output: { format: "relative", relative: { style:
        "short" } })
      </template>
      <template v-slot:code>{{
        $luxon(variable, {
          output: { format: "relative", relative: { style: "short" } },
        })
      }}</template>
    </CodeExample>
    <CodeExample :braces="false" :wide="true">
      <template v-slot:example>
        $luxon(variable, { output: { format: "relative", relative: { unit:
        "weeks" } })
      </template>
      <template v-slot:code>{{
        $luxon(variable, {
          output: { format: "relative", relative: { unit: "weeks" } },
        })
      }}</template>
    </CodeExample>
  </div>
</template>
<script>
import CodeExample from "./../CodeExample.vue";
export default {
  props: ["variable", "settings"],
  components: { CodeExample },
};
</script>